.header__principal{

    font-family: 'Roboto Mono', monospace;
    background-color: #774c9a ;

}


.imagen__menus{
    height: 50px;
    width: 50px;
    
}
.header__jsar{
	font-weight: bold;
	font-size: 2rem;
    
	border-radius: 5px;
    color: #000000;
}
.header__jsar:hover{
    
	
	color: #000000;
	font-weight: bold;
	
	
    
}



@media screen and (min-width: 1400px) {
   
    .header__principal{
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-left: 10rem;
        padding-right: 10rem;
        height: 70px;
    
    }
    
    .logo{
        align-items: center;
        display: flex;
        justify-content: space-between;
        
    }
    .imagen__menus{
        height: 50px;
        width: 50px;
        
    }
    .header__jsar{
        font-size: 2em;
        font-size: 40px;
        border-radius: 5px;
    }
    .menu__header{
        display: flex;
        
    }
}
@media screen and (max-width: 1399px) {
   
    .header__principal{
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-left: 2rem;
        padding-right: 2rem;
        height: auto;
        padding-top: 10px;
    }
    
    .logo{
        align-items: center;
        display: flex;
        justify-content: space-between;
        
    }
    .imagen__menus{
        height: 50px;
        width: 50px;
        
    }
    .header__jsar{
        font-size: 2em;
        font-size: 40px;
        border-radius: 5px;
    }
    .menu__header{
        display: flex;
        text-align: center;
        align-items: center;
        
    }
}

@media screen and (max-width: 640px) {

    .header__principal{
        align-items: center;
        text-align: center;
        display: block;
        height: 400px;
          
        
    
    }
    
    .logo{
        align-items: center;
        display: block;
        
        
    }
   
    .header__jsar{
    
        font-size: 40px;
        border-radius: 5px;
        color: #fff;
    }
    .menu__header{
        display: block;
        
    }
    

}