.skills__div{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

}

@media screen and (max-width: 640px) {

    .skills__div{
        display: block;
        justify-content: center;
        margin-top: 70px;
        
    }
    

}
