.sobre__mi__descripcion{
    font-size: 1.2rem; 
    width: 100%;
    text-align: justify;
    padding: 0 0.5rem 0 0.5rem;
    
}
.sobre__mi__descripcion--p1{
    margin-top: 20px;
}

.sobre__mi__descripcion--p2{
    margin-bottom: 50px;
}
@media screen and (max-width: 640px) {
    .sobre__mi__descripcion{
        font-size: 1.2rem; 
        width: 100%;
        text-align: center;
        padding: 0 0.5rem 0 0.5rem;
        
    }
    .sobre__mi__descripcion--p1{
        margin-top: 10px;
    }
    
    .sobre__mi__descripcion--p2{
        margin-bottom: 35px;
    }
    

}
@media screen and (min-width: 1000px) {
    .sobre__mi__descripcion{
        font-size: 1.2rem; 
        width: 500px;
        text-align: justify;
        
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        
    }
    .sobre__mi__descripcion--p1{
        margin-top: 10px;
    }
    
    .sobre__mi__descripcion--p2{
        margin-bottom: 35px;
    }
    

}
@media screen and (min-width: 1400px) {
    .sobre__mi__descripcion{
        font-size: 1.2rem; 
        width: 100%;
        text-align: justify;
        padding: 0 0.5rem 0 0.5rem;
        
    }
    .sobre__mi__descripcion--p1{
        margin-top: 20px;
    }
    
    .sobre__mi__descripcion--p2{
        margin-bottom: 50px;
    }

}